body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    border: 3px solid black;
    width:fit-content;
    height: 365px;
 }
    

   .hello{
    border-radius: 50%;
    margin-top: 20px;
   margin-left: 125px;
   display: block;

   }
   .hi{
    margin-left: 20px;
   }
   h3, h4, p {
            margin: 7px;
        }
    @media(max-width:600px){
        .div{
            padding: 14px;
            overflow:scroll;
        }

    }